*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century Gothic;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(60deg , #012d5f 50%, #029475 50%);
}

h1{
    color: #fff;
}
